<footer class="bg-dark text-white text-center p-4 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>About Us</h5>
                <a href="about.html" class="text-white">Our Mission</a>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Contact</h5>
                <a href="contact.html" class="text-white">Get in Touch</a>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Follow Us</h5>
                <a href="#" class="text-white me-2">Facebook</a> |
                <a href="#" class="text-white mx-2">Twitter</a> |
                <a href="#" class="text-white ms-2">Instagram</a>
            </div>
        </div>
        <p class="mt-3">&copy; 2025 TravelVerse. All Rights Reserved.</p>
    </div>
</footer>